body {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
}

h1{
    display: grid;
    grid-row: 1;
    grid-column: 2;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: white;
    margin:auto;
    padding: 50px;
    border-radius: 20%;
    
}

#center{
    display:grid;
    grid-row: 2;
    grid-column: 2;
    background: slategray;
    width:600px;
    height:600px;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    margin:60px auto auto auto;
    
    
}
#circle{
    display:block;
    padding:0;
    width:440px;
    height:440px;
    border:1px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin: 80px auto auto auto;
    
}
.inner{
    display:inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 220px;
    height: 220px;
    justify-content:center;
    align-items:center;
    
}
#upleft{
    background:red;
    opacity: 30%;
    border:3px;
    
}
#upright{
    background:green;
    opacity: 30%;
}
#downleft{
    background: yellow;
    opacity: 30%;
}
#downright{
    background:blue;
    opacity: 30%;
}
#level{
    display: grid;
    grid-row: 2;
    grid-column:1;
    border-style: solid;
    border: snow;
    position: absolute;
    left: 100px;
    top: 250px;
}
h2{
    color: white;
    text-align: center;
    /* border-style: solid; */
    /* border-color: white; */
    margin:auto;
    padding: 50px;
    border-radius: 20%;
}
p2{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 20px;
}