
body {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
}

h1{
    display: grid;
    font-family: 'Notable', sans-serif;
    grid-row: 1;
    grid-column: 2;
    color: white;
    text-align: center;
    /* border-style: solid; */
    border-color: white;
    margin:auto;
    padding: 30px;
    border-radius: 20%;
    font-size: 100px;
    
}

#center{
    display:grid;
    grid-row: 2;
    grid-column: 2;
    background: slategray;
    width:600px;
    height:600px;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    margin:60px auto auto auto;
    
    
}
#circle{
    display:block;
    padding:0;
    width:440px;
    height:440px;
    border:1px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin: 80px auto auto auto;
    
}
.inner{
    display:inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 220px;
    height: 220px;
    justify-content:center;
    align-items:center;
    
}
#upleft{
    background:red;
    opacity: 30%;
    border:3px;
    
}
#upright{
    background:green;
    opacity: 30%;
}
#downleft{
    background: yellow;
    opacity: 30%;
}
#downright{
    background:blue;
    opacity: 30%;
}
#level{
    display: grid;
    grid-row: 2;
    grid-column:1;
    border-style: solid;
    border: snow;
    position: absolute;
    left: 100px;
    top: 250px;
}
h2,h3,h4{
    color: white;
    text-align: center;
    /* border-style: solid; */
    /* border-color: white; */
    margin:auto;
    padding: 50px;
    border-radius: 20%;
}
p2,p3{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 20px;
}
#controls{
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}
.button{
    display:inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
    
}
/* #start{
    text-align: center;
    vertical-align: middle;
    border-radius: 60%;
    position: relative;
    z-index: 1000;
} */
#play1{
    background-color: grey;
}
#play2{
    background-color: grey;
}
#start{
    font-size: 30px;
}
footer{
    display: grid;
    color: white;
    grid-row: 3;
    grid-column: 3;
    align-self: end;
    justify-self: center;
    
}
@media only screen and (max-width:700px) {
    body{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        /* background-color: white; */
    }
    h1{
        font-size: 100px;
        text-align: center;
    }
    #center,circle{
        text-align: center;
    }
    #controls{
        /* display: inline; */
        order: 100;
        
    }
    #level{
        order: 1;
        /* display: inline; */
        /* text-align: center; */
    }
}